#!/usr/bin/env bash

readonly _dir_aliases="$(dirname "$(realpath "${BASH_SOURCE[0]}")")"

# Run an npm script without excessive npm output
alias npr='npm run --silent'

alias glb="log-branch-commits"

# Use custom config file location
alias tmux='tmux -f "${XDG_CONFIG_HOME:-$HOME/.config}"/tmux/tmux.conf'

# Must use . to allow the script to change the shell's directory
alias zn='. z-name-tmux-pane'

if "$_dir_aliases"/bin/is-wsl; then
  alias kdiff3='kdiff3.exe'
  alias meld='meld.exe'
	# shellcheck disable=SC2139
  alias open="$_dir_aliases"/bin/wsl-open
fi

if command -v exa > /dev/null; then
  alias ls='exa'
fi
