#!/usr/bin/env bash

# Run an npm script without excessive npm output
alias npr='npm run --silent'

# Alias Python 3 version of pip to the normal name
alias pip='pip3'

# Alias latest Python 2 version to a common binary name
alias python2='python2.7'

# Use fzf to find files with bat for previews and Ctrl + O to open the file in VS Code
alias preview="fzf --preview 'bat --color \"always\" {}'"
export FZF_DEFAULT_OPTS="--bind='ctrl-o:execute(code {})+abort'"

alias glb="log-branch-commits"
