#!/usr/bin/env bash

DIR="$(dirname "$(realpath "$0")")"

prepend_path() {
  if [[ "$PATH" != *"$1"* ]]; then
    # https://unix.stackexchange.com/a/415028/288259
    PATH="$1${PATH:+:${PATH}}"
  fi
}

append_path() {
  if [[ "$PATH" != *"$1"* ]]; then
    # https://unix.stackexchange.com/a/415028/288259
    PATH="${PATH:+${PATH}:}$1"
  fi
}

# Force brew cask to symlink applications to global dir
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

if "$DIR"/bin/is-linux; then
  # Prevent Docker from storing configuration in  ~/.docker
  export DOCKER_CONFIG="${XDG_CONFIG_HOME:-$HOME/.config}"/docker
fi

if "$DIR"/bin/is-macos; then
  # https://stackoverflow.com/a/5084892/1850656
  export XDG_CONFIG_HOME="$HOME"/Library/Preferences
  export XDG_DATA_HOME="$HOME"/Library
  export XDG_CACHE_HOME="$HOME"/Library/Caches

  # Prefer GNU utilities over built-in BSD variants
  if [ -d /usr/local/opt/gnu-getopt ]; then
    prepend_path '/usr/local/opt/gnu-getopt/bin'
  fi
  if [ -d /usr/local/opt/coreutils ]; then
    prepend_path '/usr/local/opt/coreutils/libexec/gnubin'
  fi
  if [ -d /usr/local/opt/gnu-sed ]; then
    prepend_path '/usr/local/opt/gnu-sed/libexec/gnubin'
  fi
fi

if "$DIR"/bin/is-wsl; then
  # For Karma tests
  export CHROME_BIN='/c/Program Files (x86)/Google/Chrome/Application/chrome.exe'

  # To connect to Docker for Windows
  export DOCKER_HOST='tcp://localhost:2375'

  # To make xdg-open work for URLs
  export BROWSER="$DIR"/bin/wsl-open

  # Make lpass --clip flag work
  export LPASS_CLIPBOARD_COMMAND='clip.exe'
fi

# Set golang workspace directory
export GOPATH="$HOME/code/go"

# Add golang directory to PATH
append_path "$GOPATH/bin"

# Add Python directory to PATH
if command -v python3 > /dev/null; then
  append_path "$(python3 -m site --user-base)"/bin
fi

# Add user bin directories to PATH
prepend_path "$HOME"/.local/bin
prepend_path "$DIR"/bin

# Default editor
export VISUAL=emacs
export EDITOR=emacs

# Allow GPG to make prompts
export GPG_TTY=$(tty)

# Fix ansi-term support in emacs
export TERM=xterm-256color

# Make word-related macros observe special characters
export WORDCHARS=''

# Tell ripgrep where to load config from
export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME:-$HOME/.config}"/ripgrep/config

# Use ripgrep for fzf search
export FZF_DEFAULT_COMMAND='rg --files'

# Prevent Postgres from storing history in ~/.psql_history
export PSQL_HISTORY="${XDG_CACHE_HOME:-$HOME/.cache}"/psql-history

# Prevent Nodenv from storing data in ~/.nodenv
export NODENV_ROOT="${XDG_DATA_HOME:-$HOME/.local/share}"/nodenv

# Prevent npm from storing config in ~/.npmrc
export NPM_CONFIG_USERCONFIG="${XDG_CONFIG_HOME:-$HOME/.config}"/npmrc

# Prevent less from storing history in ~/.lesshst
export LESSHISTFILE="${XDG_CACHE_HOME:-$HOME/.cache}"/lesshst