#!/usr/bin/env bash

DIR="$(dirname "$(realpath "$0")")"

# Force brew cask to symlink applications to global dir
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Use alternative npm global directory on Linux
if "$DIR"/bin/is-linux; then
   PATH="$HOME/.npm-global/bin:$PATH"
fi

if "$DIR"/bin/is-macos; then
  # https://stackoverflow.com/a/5084892/1850656
  export XDG_CONFIG_HOME="$HOME"/Library/Preferences
  export XDG_DATA_HOME="$HOME"/Library
  export XDG_CACHE_HOME="$HOME"/Library/Caches

  # Prefer GNU utilities over built-in BSD variants
  if [ -d /usr/local/opt/gnu-getopt ]; then
    PATH="/usr/local/opt/gnu-getopt/bin:$PATH"
  fi
  if [ -d /usr/local/opt/coreutils ]; then
    PATH="/usr/local/opt/coreutils/libexec/gnubin:$PATH"
  fi
fi

if "$DIR"/bin/is-wsl; then
  # For Karma tests
  export CHROME_BIN='/c/Program Files (x86)/Google/Chrome/Application/chrome.exe'

  # To connect to Docker for Windows
  export DOCKER_HOST='tcp://localhost:2375'
fi

# Set golang workspace directory
export GOPATH="$HOME/code/go"

# Add golang directory to PATH
PATH+=":$GOPATH/bin"

# Add Python directory to PATH
if command -v python3 > /dev/null; then
  PATH+=":$(python3 -m site --user-base)/bin"
fi

# Add user bin directories to PATH
PATH="$HOME/.local/bin:$DIR/bin:$PATH"

# Default editor
export VISUAL=emacs
export EDITOR=emacs

# Allow GPG to make prompts
export GPG_TTY=$(tty)

# Fix ansi-term support in emacs
export TERM=xterm-256color

# Make word-related macros observe special characters
export WORDCHARS=''

# Tell ripgrep where to load config from
export RIPGREP_CONFIG_PATH="${XDG_CONFIG_HOME:-"$HOME"/.config}/ripgrep/config"

# Use ripgrep for fzf search
export FZF_DEFAULT_COMMAND='rg --files'
