# ENVIRONMENT VARIABLES

# Force brew cask to symlink applications to global dir
export HOMEBREW_CASK_OPTS="--appdir=/Applications"

# Use alternative npm global directory on Linux
if [[ $(uname) == 'Linux' ]]; then
   export PATH=~/.npm-global/bin:$PATH
fi

# Path to oh-my-zsh installation
export ZSH=~/.oh-my-zsh

# Default editor
export EDITOR='nano'

# Fix ansi-term support in emacs
export TERM=xterm-256color