what() {
    printf "CHEAT:\n";
    cheat "$1";
    printf "TLDR:\n";
    tldr "$1";
}

update() {
    printf "Updating Homebrew...\n";
    brew update;

    printf "Upgrading Homebrew formulas...\n";
    brew upgrade;

    printf "Upgrading Homebrew Cask formulas...\n";
    brew cask upgrade;

    printf "Updating npm...\n";
    npm i -g npm;

    printf "Updating global npm...\n";
    npm update -g;

    printf "Updating global pip packages...\n";
    pip3 install --upgrade --user `pip3 list --outdated --user --format legacy | awk '{ print $1}'`
}