[core]
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = code --reuse-window --wait
[push]
    # make `git push -u` default to `origin` and the current branch
    default = current
[pretty]
    who-when-what = format:[%an, %cr] %s
[alias]
    contributors = shortlog --summary --numbered --email --all
    last = log --max-count=1 --pretty=who-when-what
[pull]
    # make `git pull --rebase` the default mode (override with `git pull --rebase=false`)
    rebase = true
[diff]
    tool = meld
[diftool]
    prompt = false
[difftool "meld"]
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"